@model QuanLyNhanSu.ViewModels.ChamCongIndex
@{
    ViewData["Title"] = "Quản lý chấm công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h2>Quản lý chấm công</h2>
    <div class="row">
        <a asp-controller="ChamCong" asp-action="NhapDiem" class="button button--new">Nhập điểm nhân viên</a>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Ngày làm việc</th>
                <th>Điểm</th>
                <th></th>
            </tr>
            @foreach (var chamcong in Model.ChamCong)
            {
                <tr>
                    <td>
                        <a asp-controller="ChamCong" asp-action="SuaDiem" asp-route-id="@chamcong.Id">
                            @chamcong.MaNV
                        </a>
                    </td>
                    @{string tennhanvien = "";}
                    @foreach (var nhanvien in Model.NhanVien)
                    {
                        if (nhanvien.MaNV == chamcong.MaNV){ tennhanvien = nhanvien.TenNV; }
                    }
                    <td>
                        <a asp-controller="ChamCong" asp-action="SuaDiem" asp-route-id="@chamcong.Id">
                            @tennhanvien
                        </a>
                    </td>
                    <td>
                        @chamcong.NgayLamViec
                    </td>
                    <td>
                        @chamcong.DiemNhanVien
                    </td>
                    <td>
                        <a asp-controller="ChamCong" asp-action="XoaChamCong" asp-route-id="@chamcong.Id">Xóa chấm công</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>