@model QuanLyNhanSu.ViewModels.ChamCongNhapDiem
@{
    ViewData["Title"] = "Nhập điểm nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form asp-controller="ChamCong" asp-action="NhapDiem" method="post">
                <div class="row">
                    <label asp-for="@Model.ChamCong.MaNV">Nhân viên</label>
                    <select asp-for="@Model.ChamCong.MaNV" class="form-control">
                        @foreach (var nhanvien in Model.NhanVien)
                        {
                            <option value="@nhanvien.MaNV">
                                @nhanvien.TenNV
                            </option>
                        }
                    </select>
                </div>

                <div class="row">
                    <label asp-for="@Model.ChamCong.NgayLamViec">Ngày làm việc</label>
                    <input type="date" asp-for="@Model.ChamCong.NgayLamViec" value=@DateTime.Now.ToString("yyyy-MM-dd") readonly class="form-control">
                </div>

                <div class="row">
                    <label asp-for="@Model.ChamCong.DiemNhanVien">Điểm nhân viên</label>
                    <input type="text" asp-for="@Model.ChamCong.DiemNhanVien" placeholder="0" class="form-control">
                </div>

                <button class="button button--submit" type="submit">Hoàn tất</button>
            </form>
        </div>
    </div>
</div>